.taskBox {
    position: absolute;
    width: 98%;
    margin-top: 3%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%; /* Adjust according to your theme spacing */
    border-radius: 15px;
  }